/** CSS-Stylesheet
*	author: Marvin Aichinger
**/
body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

/** Typografie **/
h1 {
	color: #ff9705;
}

h2 {
	color: #e86907;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-color: #ff9705;
}

/** Navigation **/
nav {
	margin: 0;
	height: 10vh;
	width: 100%;
	background-color: #ff9705;
	position: sticky;
	top: 0vw;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav img {
	height: 10vh;
	width: auto;
	margin-left: 1vw;
}

#navLogo{
	display: flex;
	flex-direction: row;
}

nav h1 {
	color: #fff;
	font-size: 4vh;
}

#LinksWrapper i {
	margin-top: 2.5vh;
}

#NavSearch {
	display: flex;
	flex-direction: row;
}

#NavSearch p {
	font-size: 2vh;
	color: #fff;
	margin-top: 4vh;
}

.LogInRegister {
	color: #fff;
	font-size: 2vh;
	margin-top: 4vh;
}

#LinksWrapper {
	width: 50vw;
	height: 10vh;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#LogInRegisterWrapper {
	width: 15vw;
	height: 10vh;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.LogInRegister:hover {
	color: #dddddd;	
}

#NavSearch p:hover {
	font-size: 2vh;
	color: #dddddd;
	margin-top: 4vh:
}

/** Dropdown **/

.dropdownButton {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdownContent {
  display: block;
}

@media (max-width: 768px) {
	nav #LinksWrapper p {
		display: none;
	}
	
	.LogInRegister {
		display: none;
	}
	
	#navLogo h1 {
		margin: 0;
		height: 9vh;
		font-size: 3.5vh;
	}
}



/**-------------------------------------------------------------------------------------------------------Home----------------------------------------------------------**/

/** Slideshow **/
@keyframes slideshow {
	0% {background-image: url(img/Tomato2.jpg);}
	33% {background-image: url(img/Coffee.jpg);}
	66% {background-image: url(img/Tomato.jpg);}
	100% {background-image: url(img/Tomato2.jpg);}
}

#Slideshow {
	background-image: url(img/Tomato.jpg);
	width: 100%;
	height: 50vh;
	background-position: cover;
	margin: 0;
	
	animation-name: slideshow;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

/** Rezepte2 **/
.homeRecipe2 {
	width: 100% - 20vw;
	height: 50vh;
	margin-left: 10vw;
	margin-right: 10vw;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.homeRecipe2_image {
	width: 30%;
	height: auto;
}

.homeRecipe2_text {
	width: 40%;
}

/** Rezepte1 **/
.homeRecipe1 {
	width: 100% - 20vw;
	height: 50vh;
	margin-left: 10vw;
	margin-right: 10vw;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.homeRecipe1_image {
	width: 30%;
	height: auto;
}

.homeRecipe1_text {
	width: 40%;
}

/** Footer **/
footer {
	width: 100%;
	height: 50vh;
	background-color: #e86907;
}

footer #footerHeadline {
	width: 100%;
	height: 10vh;
	background-color: #ff5008;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer #footerHeadline p {
	color: #fff;
	margin: 0;
	font-size: 4vh;
}


/**-------------------------------------------------------------------------------------------------------Recipe----------------------------------------------------------**/

content {
	margin-left: 20vw;
	margin-right: 20vw;
	
	display: flex;
	flex-direction: column;
}

content #headline {
	text-align: center;
}

content #image {
	width: 100%;
	height: auto;
}


/**-------------------------------------------------------------------------------------------------------Log in----------------------------------------------------------**/
#LogInBody {
	background-image: url(img/Auflaufform.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#LogInForm {
	width: 100%;
	height: 90vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#LogInForm input {
	width: 15vw;
	height: 5vh;
	margin-left: 48vw;
	margin-top: 2vw;
	border-style: solid;
	border-width: 0.3vw;
	border-radius: 20px;
	border-color: #ff9705;
	padding-left: 0.5vw;
}

#LogInForm #submitButton {
	width: 5vw;
	background-color: #e86907;
}

#LogInForm #submitButton:hover {
	width: 5vw;
	background-color: #ffca08;
}


/**-------------------------------------------------------------------------------------------------------Register----------------------------------------------------------**/
#RegisterBody {
	background-image: url(img/Tomato2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

/**-------------------------------------------------------------------------------------------------------Search----------------------------------------------------------**/
#SearchBody {
	background-image: url(img/GabelMesser.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#SearchForm input {
	width: 15vw;
	height: 5vh;
	margin-right: 40vw;
	margin-top: 2vw;
	border-style: solid;
	border-width: 0.3vw;
	border-radius: 20px;
	border-color: #ff9705;
	padding-left: 0.5vw;
}

#SearchForm {
	width: 100%;
	height: 90vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#SearchForm #submitButton {
	width: 5vw;
	background-color: #e86907;
}

#SearchForm #submitButton:hover {
	width: 5vw;
	background-color: #ffca08;
}


